<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr2.Runtime" version="2.7.7.02" targetFramework="net45" />
  <package id="Antlr2.Tools" version="2.7.6.4" targetFramework="net45" />
  <package id="AsyncBridge.JetBrains" version="0.1.1.0" targetFramework="net45" />
  <package id="DotNetZip.Reduced" version="1.9.1.8" targetFramework="net45" />
 
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="Newtonsoft35.Json" version="7.0.1" targetFramework="net45" />
  <package id="NLog" version="3.1.0.0" targetFramework="net45" />
  <package id="NuGet.Core" version="2.10.1" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" targetFramework="net45" />
  <package id="NUnit.ReSharperRunner2" version="2.6.408" targetFramework="net45" />
  <package id="NUnit.ReSharperRunner3" version="3.0.12" targetFramework="net45" />
  <package id="NVelocity" version="1.0.3" targetFramework="net45" />
  <package id="SharpZipLib.JetBrains.Stripped" version="0.86.20150204.1" targetFramework="net45" />
  <package id="Sprache.JetBrains" version="2.0.0.44" targetFramework="net45" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net45" />
  <package id="Vestris.ResourceLib.JetBrains" version="1.4.20150303.0" targetFramework="net45" />
  <package id="Wave" version="5.0.0.0" targetFramework="net45" />
  <package id="Windows7APICodePack.JetBrains.Stripped" version="1.1.20150225.0" targetFramework="net45" />
  <package id="xmlrpcnet" version="2.5.0" targetFramework="net45" />
  <package id="xunit.abstractions.JetBrains" version="2.0.0" targetFramework="net45" />
  <package id="xunit.JetBrains" version="1.9.2" targetFramework="net45" />
  <package id="xunit.runner.utility.JetBrains" version="2.2.0" targetFramework="net45" />
</packages>